<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/alilynne">Ali</a>.
  </p>
  <br />
  <p>
    She's on a mission to change the world one gymnastics quote at a time... or maybe just learn how to solve new problems and puzzles.

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid me' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ali Thompson</h2>
     <br />
     <p>
       Ali is an aspiring web developer with experience in CSS, HTML and Photoshop. She's been interested in web design and development since the days of Geocities. Before migrating to the San Francisco Bay Area, Ali was a substitute teacher in northern Indiana. As a reformed gymnastic Ali likes to spend her free time doing yoga.
     </p>
   </div>
 </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
